@font-face {
    font-family: 'data_control';
    src: url('/assets/data-latin-webfont.woff2') format('woff2'), url('/assets/data-latin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'atomic_age';
    src: url('/assets/atomicage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

body {
    /* background-image: url('/assets/repeated-square.png'); */
    background-image: url('/assets/nasty_fabric.png');
    /* background-image: url('/assets/sandpaper.png'); */
    background-repeat: repeat;
}

.profile-pic {
    width: 25%;
    transform: translateX(150%);
    padding: 10px;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding in columns */

.row {
    margin: 0 -5px;
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.big-card div {
    transition-duration: 0.4s;
    position: relative;
    animation: animatebottom 0.4s
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: flex;
    clear: both;
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the 'card' effect */
    padding: 8px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 5px 0;
    height: 200px;
    background-image: url('/assets/nasty_fabric.png');
    /* background-image: url('/assets/3305340.jpg'); */
    background-repeat: repeat;
    /* <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by Harryarts - www.freepik.com</a> */
}

.full-project-card {
    overflow: auto;
    padding: 16px;
    background-image: url('/assets/nasty_fabric.png');
    font-family: 'Bree Serif', serif;
}

.full-project-card h2 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}

.card-button {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.card-button:hover {
    /* opacity: 0.8;
    filter: alpha(opacity=80); */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    /* For IE8 and earlier */
}

.big-card {
    padding: 8px;
    margin: 32px;
    top: 0;
    background-image: url('/assets/3305340.jpg');
    /* <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a> */
    /* background-image: url('/assets/13416.jpg'); */
    /* background-size: contain; */
    background-repeat: repeat;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.to-do-list {
    width: 50%;
    margin-left: 25%;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-image: url('/assets/linedpaper.png');
    border-radius: 8px;
    text-align: left;
}

.card-about {
    background-image: url('/assets/nasty_fabric.png');
    margin: 16px;
    padding: 16px;
    overflow: auto;
}

.card-left {
    width: 40%;
    float: left;
    height: 100%;
    position: relative;
    padding: 5px;
}

.card-right {
    width: 60%;
    padding: 5px;
    float: left;
    font-family: 'Bree Serif', serif;
}

.card-left-about {
    width: 40%;
    float: left;
    height: 100%;
    position: relative;
    padding: 10px;
}

.card-right-about {
    width: 60%;
    padding: 10px;
    float: right;
    font-family: 'Bree Serif', serif;
}

h3 {
    font-family: 'Permanent Marker', cursive;
}

.project-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #ddb;
    border-radius: 4px;
    padding: 5px;
}

.about-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #ddb;
    border-radius: 4px;
    padding: 5px;
}

.project-desc {
    margin-left: 20px;
    /* font-family: atomic_age; */
    /* overflow: scroll; */
}

.nav-bar-container {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;
    background-image: url('/assets/nasty_fabric.png');
    background-repeat: repeat;
}

.nav-bar {
    width: 50%;
    transform: translateX(50%);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;
    /* background-color: azure; */
}

.nav-button {
    border-radius: 15px;
    background-image: url('/assets/sandpaper.png');
    background-repeat: repeat;
    font-family: 'Permanent Marker', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(99, 82, 82, 0.308);
    cursor: pointer;
}

.button {
    border-radius: 15px;
    background-image: url('/assets/sandpaper.png');
    background-repeat: repeat;
    font-family: 'Permanent Marker', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item {
    float: left;
    margin: 0;
}

#about {
    float: left;
}

#contact {
    float: right;
}

.project-title {
    height: 25%;
    overflow: hidden;
}

.main-title {
    text-decoration: none;
}

.main-title:hover {
    cursor: pointer;
}

.card-video {
    width: 80%;
    height: 100%;
    min-height: 300px;
}

.full-project-card img {
    max-width: 80%;
    margin: 8px;
}

.video-container {
    position: relative;
    width: 90%;
    height: 0;
    margin-left: 5%;
    padding-bottom: 56.25%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 1800px) {
    /* 3 columns */
    .column {
        width: 33.333333333%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1100px) {
    /* 2 columns */
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:780px) {
    /* 1 column */
    .card-right {
        font-size: 80%;
    }
    .to-do-list {
        width: 80%;
        margin-left: 10%;
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .nav-bar {
        width: 100%;
        transform: none;
    }
    .card-right {
        font-size: 100%;
    }
}

@media screen and (max-width: 400px) {
    .card-right {
        font-size: 80%;
    }
    .project-desc {
        margin-left: 8px;
    }
}