div.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    padding: 5px;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding in columns */

.row {
    margin: 0 -5px;
}


/* Clear flotas after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the 'card' effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 10px 0;
    overflow: auto;
}

.big-card {
    padding: 16px;
    margin: 16px;
}

.card-left {
    width: 40%;
    float: left
}

.card-right {
    width: 60%;
    float: right;
}

.project-picture {
    max-width: 100%;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 1800px) {
    .column {
        width: 33.333333333%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}